<div class="active-parkings">
  <p>
    <input type="search" placeholder="Keresés" [(ngModel)]="searchExpression">
    <button (click)="search()"><fa-icon [icon]="faSearch"></fa-icon></button>
    <button (click)="clearSearch()"><fa-icon [icon]="faTimes"></fa-icon></button>
  </p>
  <table>
    <tr>
      <th>
        Νév<br>
        <fa-icon [icon]="faChevronDown" (click)="orderDescending('name')"></fa-icon>
        <fa-icon [icon]="faChevronUp" (click)="orderAscending('name')"></fa-icon>
      </th>
      <th>
        E-mail cím<br>
        <fa-icon [icon]="faChevronDown" (click)="orderDescending('email')"></fa-icon>
        <fa-icon [icon]="faChevronUp" (click)="orderAscending('email')"></fa-icon>
      </th>
      <th>
        Érkezés<br>
        <fa-icon [icon]="faChevronDown" (click)="orderDescending('startTime')"></fa-icon>
        <fa-icon [icon]="faChevronUp" (click)="orderAscending('startTime')"></fa-icon>
      </th>
      <th>
        Rendszám<br>
        <fa-icon [icon]="faChevronDown" (click)="orderDescending('licenceNumber')"></fa-icon>
        <fa-icon [icon]="faChevronUp" (click)="orderAscending('licenceNumber')"></fa-icon>
      </th>
      <th>Lezárás</th>
    </tr>
    <tr *ngFor="let parking of parkings">
      <td>{{ parking.name }}</td>
      <td>{{ parking.email }}</td>
      <td>{{ parking.startTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ parking.licenceNumber }}</td>
      <td><button (click)="endParking(parking.id)">Lezárás</button></td>
    </tr>
  </table>
  <p *ngIf="parkings.length === 0">Jelenleg egy autó sem áll a parkolóban</p>
</div>