@import '../../../../../variables.scss';

.log-in {
    width: 20%;
    margin: 200px auto 0;
    button {
        width: 100%;
        padding: 10px 20px;
        font-size: 20px;
    }



    label {
        display: block;
        width: 100%;
        color: $color-gold;
        background-color: rgba($color-black,.8);
        padding: 10px 20px;
        text-align: center;
    }

    select {
        @extend label;
        border:none;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 30px;
        &:focus {
            outline:none;
        }
    }
}

h1 {
    color:$color-gold;
    font-weight: lighter;
    font-size: 4em;
    margin-left:5%;
    margin-top:20px;
}